/*Общие*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu,
.navigation-list,
.how-to-view,
.hotels-search-results,
.pagination,
.socials,
.advantages-list,
.recommendations-list,
.breadcrumbs-list {
  list-style-type: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
  margin: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-sedona,
.main-catalog {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.advantages-picture,
.navigation-logo,
.developer-logo,
.hotels-card-image {
  display: block;
}


/*Стилизация текста*/

.title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.advantages-title,
.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-search-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.advantages-description,
.recommendations-description,
.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #333333;

}

.subscribe-form-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #FFFFFF;
}

.subscribe-form-description-catalog {
  color: #333333;
}

.hotel-search-parameters {
  font-size: 18px;
  line-height: 23px;
}

.hero,
.sedona-advantages,
.sedona-recommendations,
.hotel-search,
.subscribe-form {
  text-align: center;
}

/*Хэдер*/

.sedona-logo-link {
  display: block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: -6px;
  width: 140px;
  height: 70px;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 1;
}

.navigation-logo {
  display: block;
  margin-bottom: -10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1060px;
  position: relative;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 464px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  list-style-type: none;
}

.navigation-link {
  padding: 17px 16px;
  min-width: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 393px;
  list-style: none;
}


.navigation-user-link {
  display: block;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;

}

.navigation-user-link-search {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/search.svg);
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.favorites-count {
  position: relative;
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}


.favorites-count-icon {
  position: absolute;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 100vh;
  padding: 5px;
  left: 20px;
  top: 10px;
}

.navigation-link:active {
  background-color: #a0a0a0;
}

.navigation-link:hover {
  background-color: #a0a0a0;
  ;
}

.navigation-link:focus {
  background-color: #a0a0a0;
  ;
}

.navigation-link:disabled {
  background-color: #a0a0a065;
}

.navigation-user-link-search:active,
.favorites-count:active {
  background-color: #a0a0a0;
  ;
  height: 44px;
}

.navigation-user-link-search:hover,
.favorites-count:hover {
  background-color: #a0a0a0;
  height: 44px;
}

.navigation-user-link-search:focus,
.favorites-count:focus {
  background-color: #a0a0a0;

}

.navigation-user-link-search:disabled,
.favorites-count:disabled {
  background-color: #a0a0a065;
  height: 44px;
}

.sedona-logo-link:active {
  opacity: 0.3;
  height: 64px;
}

.sedona-logo-link:hover {
  opacity: 0.8;
  height: 64px;
}

.sedona-logo-link:focus {
  opacity: 0.8;
  height: 64px;
}

.sedona-logo-link:disabled {
  background-color: #a0a0a065;
  height: 64px;
}


/*Главная страница*/

.hero {
  background-image: url(../images/divider.svg), url(../images/sedona-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  min-height: 485px;
  background-color: #000000;
}

.hero-img {
  padding-top: 51px;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
}

.sedona-advantages {
  padding-top: 39px;
  margin: 0;
}

.advantages-header {
  margin-bottom: 25px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 89px;
}

.advantages-title {
  padding-top: 114px;
  margin-bottom: 30px;
  margin-top: 0;
  position: relative;
}

.advantages-title-white {
  padding-top: 104px;
}

.advantages-title-underline-white::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.advantages-title-underline-dark::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 30px auto;
}

.advantages-item-with-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;

}

.advantages-item-with-picture-reversed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;

}

.item-with-picture-text {
  min-width: 400px;
  min-height: 385px;
}

.advantages-picture {
  width: 800px;
  display: block;
  height: 385px;
}

.advantages-item-road,
.advantages-item-tourists,
.advantages-item-square {
  min-width: 400px;
  min-height: 385px;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.20);
}


.text-description {
  color: #333333;
  margin: 0;
}

.text-description-white {
  margin: 0;
}

.sedona-recommendations {
  margin: 0;
  padding-top: 34px;
}


.recommendations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.recommendations-header {
  margin-bottom: 20px;
}

.recommendations-item {
  min-width: 400px;
  min-height: 385px;
  position: relative;
}

.recommendations-title {
  margin-top: 30px;
  padding-bottom: 0;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 30px;
}

.recommendations-description {
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.rec-text-description {
  color: #333333;
  padding: 0;
  margin: 0;
}

.recommendations-item-live,
.recommendations-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);

}

.recommendations-item-live::before {
  background-image: url("../images/icons/rec-house.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 32px;
  background-size: contain;
  width: 75px;
  height: 72px;
  margin-top: 83px;
}

.recommendations-item-food::before {
  background-image: url("../images/icons/rec-food.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 32px;
  background-size: contain;
  width: 75px;
  height: 72px;
  margin-top: 83px;
}

.recommendations-item-souvenirs::before {
  background-image: url("../images/icons/rec-souvenirs.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 32px;
  background-size: contain;
  width: 75px;
  height: 72px;
  margin-top: 83px;
}


.hotel-search {
  min-height: 406px;
}


.hotel-search-title {
  padding-top: 96px;
  padding-bottom: 20px;
  margin: 0;
}

.hotel-search-description {
  padding-bottom: 56px;
}

.subscribe-title {
  padding-top: 98px;
  margin-bottom: 20px;
  margin-top: 0;
}

.subscribe-form-background {
  background-color: #000000;
  background-image: url(../images/subscribe-form-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
  margin: 0;
  color: #ffffff;
}


.send-email {
  padding-top: 54px;
  padding-bottom: 104px;
  display: inline-table;
}

.email-field {
  min-width: 430px;
  height: 50px;
  font-family: inherit;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 24px;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.email-field:hover {
  background-color: #e6e6e6;
}

.email-field:disabled {
  opacity: 0.2;
}

.email-field:invalid:not(:-moz-placeholder-shown) {
  outline: 2px solid #ff5757;
}

.email-field:invalid:not(:-ms-input-placeholder) {
  outline: 2px solid #ff5757;
}

.email-field:invalid:not(:placeholder-shown) {
  outline: 2px solid #ff5757;
}

.email-field:invalid:not(:-moz-placeholder-shown):hover {
  outline: 2px solid #ff5757;
}

.email-field:invalid:not(:-ms-input-placeholder):hover {
  outline: 2px solid #ff5757;
}

.email-field:invalid:not(:placeholder-shown):hover {
  outline: 2px solid #ff5757;
}


/*Каталог*/

/*Фильтр*/


.catalog-filter-form {
  background-color: #000000;
  background-image: url(../images/filter-hotels-form-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
  color: #ffffff;
}

.catalog-filter-title {
  padding-top: 35px;
  padding-left: 70px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 8px;
}


.hotel-search-form {
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 38px;
  padding-bottom: 50px;
  padding-left: 69px;
}


.hotel-search-form-title {
  padding-bottom: 33px;
}


/*Хлебные крошки*/

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs-item-home {
  padding: 15px;
  padding-bottom: 9px;
  background-image: url("../images/icons/go-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  cursor: pointer;
  margin-left: 60px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  display: block;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 10px;
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-item-home:hover:after {
  opacity: 0.6;
}

.breadcrumbs-link:focus,
.breadcrumbs-item-home:focus:after {
  opacity: 0.3;
  outline: 2px solid #a0a0a0;
}

.breadcrumbs-link-home {
  position: absolute;
}


/*Фильтр*/

.filter {
  border: none;
  margin: 0;
  margin-right: 66px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-break: keep-all;
}

.filter:nth-child(2) {
  margin-right: 152px;
}

.filter:nth-child(3) {
  margin-right: 72px;
}


.filter-buttons {
  padding-top: 57px;
  width: 120px;
}

.hotel-search-parameters {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  display: block;
  padding-bottom: 16px;
  padding-left: 26px;
  cursor: pointer;
}

.control-input-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin: 0;
  padding-left: 10px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.control-mark-radio {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked+.control-mark::before,
.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
  top: -1px;
}

.control-input[type="radio"]:checked+.control-mark::before,
.control-input[type="radio"]:checked+.control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}


.control-input:hover+.control-mark,
.control-input:hover+.control-input-text {
  opacity: 0.3;
}

.control-input:focus-visible+.control-mark,
.control-input:focus-visible+.control-input-text {
  outline: 3px solid #83b3d3;
}

.control-input:active+.control-mark,
.control-input:active+.control-input-text {
  outline: 2px solid #83b3d3;
  opacity: 0.4;
}


.control-mark:hover,
.control-mark-radio:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.control-mark:focus-visible,
.control-mark-radio:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.control-mark:active,
.control-mark-radio:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.control-input:hover+.control-mark,
.control-input:hover+.control-input-text {
  opacity: 0.3;
}

.control-input:focus-visible+.control-mark,
.control-input:focus-visible+.control-input-text {
  outline: 3px solid #83b3d3;
}

.control-input:active+.control-mark,
.control-input:active+.control-input-text {
  opacity: 0.4;
}

.control-input:disabled+.control-mark,
.control-input:disabled+.control-input-text {
  opacity: 0.1;
}

.control-input-text:hover {
  opacity: 0.6;
}

.control-input-text:active {
  opacity: 0.3;
}

/*Range-слайдер*/

.input-range-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  padding: 0;
  margin: 0;
  position: relative;
}

.range-from-field-text {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;

}

.text-from {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 165px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.text-to {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.range-from-field-text-from {
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 123px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  padding: 0;
  padding-left: 20px;
}


.range-from-field-text-to {
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  width: 123px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  padding: 0;
  padding-left: 20px;
}

.range-from-field-text-from:hover,
.range-from-field-text-to:hover {
  background-color: #e6e6e6;
}

.range-from-field-text-from:focus,
.range-from-field-text-to:focus {
  background: #e6e6e6;
}


.range {
  padding-top: 43px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 288px;
}


.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 228px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-min {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
}

.toggle-max {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -1px;
  border: none;
}

.toggle-max:hover,
.toggle-min:hover {
  background-color: #ffffff;
}

.toggle-max:active,
.toggle-min:active {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.toggle-max:focus,
.toggle-min:focus {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.toggle-max:disabled,
.toggle-min:disabled {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.control-input[type="radio"] {
  border-radius: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-from-field-text-from,
.range-from-field-text-to {
  -moz-appearance: textfield;
}

.range-from-field-text::-webkit-input-placeholder {
  text-align: right;
  z-index: 1;
}

/*Найденные гостиницы*/

.hotels-found {
  margin-left: 70px;
  margin-top: 56px;
  margin-bottom: 46px;
  margin-right: 200px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding: 0;
}

.select-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  margin-right: 74px;
  margin-top: 13px;
  padding: 14px 40px 14px 18px;
  border-radius: 4px;
  min-width: 292px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top 20px right 18px;
}

.select-control:hover {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}



.select-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


.how-to-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: -3px;
  margin-top: 9px;
}

.page-view {
  width: 48px;
  height: 48px;
  padding: 17px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.page-view-table {
  background-image: url("../images/icons/view-table.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 2px solid #000000;
}

.page-view-desktop {
  background-image: url("../images/icons/view-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.page-view-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.page-view:hover {
  border: 2px solid #000000;
}

.page-view:focus {
  border: 2px solid #68a2ca;
}

.page-view:active {
  border: 2px solid #68a2ca;
}

.page-view:disabled {
  border: 2px solid #a3a3a3;
}

.hotels-search-results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
}

/*Карточка отеля*/

.hotel-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: repeat(2, 140px);
  border: #e6e6e6 1px solid;
  border-radius: 4px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px 18px;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.hotel-link {
  padding: 0;
  margin: 0;
  height: 212px;
}

.hotel-view:hover {
  outline: 6px solid #a0a0a0;

}

.hotel-header-link,
.hotel-description,
.button-more-info,
.rating-one-star,
.rating-two-stars,
.rating-three-stars,
.rating-four-stars,
.rating-five-stars {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.hotel-price {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.hotel-header-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hotels-header-link:hover {
  outline: 6px solid #a0a0a0;
}



.hotel-description {
  padding: 0;
  margin: 0;
  text-align: start;
}

.hotel-price {
  text-align: end;
  margin: 0;
  padding: 0;
}

.stars {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rating-five-stars {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%, url("../images/icons/star.svg") no-repeat 48px 50%, url("../images/icons/star.svg") no-repeat 72px 50%, url("../images/icons/star.svg") no-repeat 96px 50%;
}


.rating-four-stars {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%, url("../images/icons/star.svg") no-repeat 48px 50%, url("../images/icons/star.svg") no-repeat 72px 50%;
}

.rating-three-stars {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%, url("../images/icons/star.svg") no-repeat 48px 50%;
}

.rating-two-stars {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%;
}

.rating-one-star {
  background: url("../images/icons/star.svg") no-repeat 0 50%;
}


.rating {
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 7px;
  border: none;
  display: inline-block;
}


.subscribe-form-catalog {
  color: #000000;
  text-align: center;
  min-height: 415px;
}

.subscribe-title-catalog {
  padding-top: 95px;
  margin-bottom: 20px;
  margin-top: 0;
}

.email-catalog {
  background-color: rgba(242, 242, 242, 1);
}

/*Пагинация*/

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 0;
  margin-bottom: 62px;
  list-style: none;
  position: relative;
}

.pagination-link {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  padding-top: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  white-space: nowrap;
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}

.pagination-more {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #82b3d3;
  color: rgba(255, 255, 255)
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}


.pagination::before {
  content: "";
  height: 2px;
  width: 1060px;
  background-color: #e6e6e6;
  top: -40px;
  position: absolute;
}


/*Футер*/

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 41px;
  padding: 0 70px;
  padding-bottom: 35px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 142px;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.socials-link:hover svg {
  fill: #68a2ca;
}

.socials-link:focus svg {
  fill: #68a2ca;
}

.socials-link:active svg {
  fill: #68a2ca;
  opacity: 0.3;
}

.socials-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin-left: 23px;

}

.socials-phone:hover {
  color: #756157;
}

.socials-phone:focus {
  color: rgba(117, 97, 87, 0.3);
}

.socials-phone:focus {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 155px;
  height: 45px;
  margin-right: -20px;
  margin-top: -2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.developer-link:hover svg {
  fill: #756157;
}

.developer-link:focus svg {
  fill: rgba(117, 97, 87, 0.3);
}

.developer-link:focus svg {
  fill: #756157;
}

.developer-link:active svg {
  fill: #756157;
  opacity: 0.3;
}


/*Кнопки*/

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button:focus {
  background: #615048;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button:disabled {
  background: #e5e5e5;
  color: #ffffff;
}


.navigation-item-button {
  width: 160px;
  padding-top: 5px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.button-link {
  padding: 8px 34px;
}

.button-hotel-search {
  font-size: 20px;
  line-height: 35px;
  padding: 8px 50px;
  max-width: 100%;
}

.button-subscribe {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 35px;
  padding: 8px 50px;
}

.button-subscribe:hover {
  background: #68a2ca;
}

.button-subscribe:focus {
  background: #68a2ca;
}

.button-subscribe:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background: #e5e5e5;
}

.filter-button {
  padding: 8px 50px;
  background-color: #82b3d3;
  margin-bottom: 31px;
}

.filter-button:hover {
  background: #68a2ca;
}

.filter-button:focus {
  background: #68a2ca;
}

.filter-button:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button:disabled {
  background: #e5e5e5;
}

.reset-button {
  padding: 8px 58px;
  background-color: transparent;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  background-color: transparent;
}

.reset-button:active {
  outline: 3px solid #83b3d3;
  background-color: transparent;
}

.reset-button:hover {
  outline: 3px solid #83b3d3;
  opacity: 0.2;
  background-color: transparent;
}

.reset-button:disabled {
  color: #ffffff;
  opacity: 0.1;
  background-color: transparent;
}


.button-more-info:hover {
  background: #615048;
}


.button-more-info:focus {
  background: #615048;
}

.button-more-info:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button-more-info:disabled {
  background: #e5e5e5;
  color: #ffffff;
}

.button-add-to-favorites {
  background-color: #82b3d3;
}

.button-add-to-favorites:hover {
  background: #68a2ca;
}

.button-add-to-favorites:focus {
  background: #68a2ca;
}

.button-add-to-favorites:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-add-to-favorites:disabled {
  background: #e5e5e5;
}

.button-added-to-favorites {
  background-color: #7db54f;
}

.button-added-to-favorites:hover {
  background: #6c9e42;
}

.button-added-to-favorites:focus-visible {
  background: #6c9e42;
}

.button-added-to-favorites:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-added-to-favorites:disabled {
  background: #e5e5e5;
}




/* Модальное окно */

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
  padding-top: 15px;
}

.modal-container-close {
  display: none;
}

.modal {
  padding: 64px 70px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}


.modal-search {
  width: 577px;
}

.modal-group {
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 577px;
  gap: 48px;
}


.modal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 577px;
  gap: 48px;
  list-style: none;
  margin: 0;
  margin-top: 64px;
  padding: 0;
}

.i-icon {
  padding-top: 5px;
  padding-bottom: 4px;
}

.modal-title {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.modal-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #000000;
}

.input-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.modal-input {
  background-color: #f2f2f2;
  border-radius: 4px;
  min-width: 420px;
  border: none;
  height: 48px;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}



.modal-input-people {
  background-color: #f2f2f2;
  border: none;
  width: 31px;
  height: 48px;
  margin: 0;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 0;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.people-minus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  cursor: pointer;
}

.people-plus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  cursor: pointer;
}

.minus-icon {
  fill: rgba(117, 97, 87, 0.3);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 3px;
  padding-right: 3px;
}

.plus-icon {
  fill: rgba(117, 97, 87, 0.3);
  padding: 3px;
}


.modal-search-button {
  font-size: 20px;
  line-height: 24px;
  width: 577px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 0;
}


.error-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2px 0 0 157px;
  padding: 0;
  color: #ff5757;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.free-rooms-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2px 0 0 157px;
  padding: 0;
  color: #333333;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 577px;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 247px;
}

.child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 247px;
  position: relative;
  left: 5px;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 577px;
  position: relative;
}

.input-container::before {
  content: '';
  background-image: url("../images/icons/calendar.svg");
  position: absolute;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 21px;
  height: 22px;
  background-repeat: no-repeat;

}

.arrival-title {
  margin: 0;
  margin-right: 24px;
}

.departure-title {
  margin: 0;
  margin-right: 18px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-position: 50% 50%;
  position: absolute;
  top: -4px;
  cursor: pointer;
  left: 10px;
}


.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}


.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  text-transform: none;
  padding: 20px 18px 21px 22px;
  width: 216px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  top: 38px;
  left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-text::before {
  content: '';
  background-image: url("../images/dark-triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  right: 120px;
  top: -9px;
  margin-left: auto;
  margin-right: auto;
}

.modal-item {
  height: 48px;
}

.modal-input-people {
  -moz-appearance: textfield;
}

/*Модальное окно - состояния*/

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus {
  border: none;
  outline: none;
  background-color: #68a2ca;
}

.modal-search-button:active {
  background-color: #68a2ca;
  color: #ffffff;
  opacity: 0.3;
}

.modal-search-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: none;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active .cross-button {
  fill: #000000;
  opacity: 0.6;
  border: none;
  outline: none;
}

.people-minus:active:focus .minus-icon,
.people-plus:active:focus .plus-icon {
  opacity: 0.3;
  outline: none;
  border: none;
}

.people-minus:hover .minus-icon,
.people-plus:hover .plus-icon {
  fill: #000000;
}

.people-minus:focus-visible .minus-icon,
.people-plus:focus-visible .plus-icon {
  fill: #000000;
  outline: 3px solid #82b3d3;
  z-index: 1;
  border-radius: 4px;
}


.people-minus:disabled,
.people-plus:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
  opacity: 0.4;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input-people:hover {
  background-color: #e6e6e6;
}

.modal-input:disabled,
.modal-input-people:disabled {
  opacity: 0.2;
}
