/*Общие*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/*Стилизация текста*/

.title {
font-family: "PT Sans", "Arial", sans-serif;
font-weight: 700;
text-transform: uppercase;
font-size: 30px;
line-height: 36px;
}

.advantages-title,
.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-search-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hello-description,
.welcome-description,
.hotel-search-description,
.subscribe-form-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-search-parameters {
  font-size: 18px;
line-height: 23px;
}

/*Стилизация фона*/

.hero {
  background-image: url(../images/sedona-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-form-background {
  background-image: url(../images/subscribe-background.jpg);
background-repeat: no-repeat;
background-size: 100% auto;
}

.catalog-filter-form {
  background-image: url(../images/filter-form-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages-item-with-picture,
.advantages-item-with-picture-reversed,
.subscribe-form,
.catalog-filter-form {
  color: #FFFFFF;
}

.advantages-item-with-picture,
.advantages-item-with-picture-reversed {
  background-color: #82B3D3;
}

.recommendations-item-live,
.recommendations-item-souvenirs,
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}
